<div class="text-white pt-10  bg-[#2c3e50]">
    <div class="bg-[#2c3e50] p-10 flex justify-evenly items-center text-center ">
<div class="py-5">
<h2 class="text-3xl fw-bolder">LOCATION</h2>
<p class="pt-2 text-xl leading-[50px]">2215 John Daniel Drive <br> Clark, MO 65243</p>
</div>
<div class="py-5">
<h2 class="text-3xl fw-bolder">AROUND THE WEB</h2>
<div class="flex justify-evenly pt-2">
    <div class="rounded-full w-[40px] h-[40px] flex justify-center items-center border-2 border-solid">   <i class="fa-brands fa-facebook text-xl"></i></div>
    <div class="rounded-full w-[40px] h-[40px] flex justify-center items-center border-2 border-solid"><i class="fa-brands fa-twitter text-xl"></i></div>
   <div class="rounded-full w-[40px] h-[40px] flex justify-center items-center border-2 border-solid"> <i class="fa-brands fa-linkedin text-xl"></i></div>
    <div class="rounded-full w-[40px] h-[40px] flex justify-center items-center border-2 border-solid"><i class="fa-solid fa-globe text-xl"></i></div>
</div>
</div>
<div class="py-5">
<h2 class="text-3xl fw-bolder">ABOUT FREELANCER</h2>
<p class="pt-2 text-xl leading-[50px]   ">Freelance is a free to use,<br> licensed Bootstrap theme <br> created by Route</p>
</div>
    </div>
    <div class="bg-gray-800 text-center">
        <p class="text-xl">Copyright © Your Website 2021</p>
    </div>
</div>
