<nav   class="z-[999] transition-all duration-500 bg-[#2c3e50] py-2  fixed top-0 left-0 right-0 border-gray-200  sm:px-4  text-xl.5">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a routerLink="home" class="flex items-center">
      <span class="self-center text-5xl font-semibold whitespace-nowrap text-white">Start Framework</span>
    </a>
    <div (click)="toggle()" class=" flex items-center p-3 w-14 h-14  text-white rounded-lg lg:hidden hover:bg-gray-900 border-2 border-solid">
      <i class="fa-solid fa-bars text-3xl"></i>
    </div>
    <div class="w-full transition-all duration-700 lg:block lg:w-auto" [ngClass]="{'hidden': menueHidden, 'block': !menueHidden}">
      <ul class=" flex gap-3 flex-col mt-4 lg:flex-row transition-all duration-700 lg:space-x-8 lg:mt-0 lg:text-sm lg:font-medium">
        <li>
          <a routerLink="about" routerLinkActive=" bg-[#1abc9c] " class=" py-1  lg:px-3 text-xl px-3 text-white rounded  lg:text-white-700 lg:p-2 transition-all duration-500 hover:text-gray-500">About</a>
        </li>
        <li>
          <a routerLink="portfolio" routerLinkActive="bg-[#1abc9c]  " class=" py-1 px-3 text-xl lg:px-3  text-white rounded  lg:text-white-700 lg:p-0 transition-all duration-500 hover:text-gray-500">Portfolio</a>
        </li>
        <li>
          <a routerLink="contact" routerLinkActive="bg-[#1abc9c] " class=" py-1 px-3 text-xl  text-white rounded lg:px-3  lg:text-white-700 lg:p-0 transition-all duration-500 hover:text-gray-500">Contact</a>
        </li>
        <li>
          <a routerLink="gallery" routerLinkActive="bg-[#1abc9c] " class=" py-1 px-3 text-xl  text-white rounded lg:px-3  lg:text-white-700 lg:p-0 transition-all duration-500 hover:text-gray-500">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
